.App {
  width: 100vw;
  height: 100vh;
  background: url("Component/Resourses/12.jpg") no-repeat center/cover;
}

.todolistBlock {
  padding: 40px;
  width: auto;
  height: auto;
  margin-right: 50px;
  border: 1px solid black;
  border-radius: 5%;
  font-size: 18px;
  background: transparent;
}


.todoBtnDelete {
  float: right;
}
